.env
terraform/.terraform

# Logs
logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.lock-wscript

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Others
lib/
data/


# dependencies
watashi-client/node_modules

# production
watashi-client/build

# misc
watashi-client/.DS_Store
watashi-client/.env.local
watashi-client/.env
watashi-client/.env.development.local
watashi-client/.env.test.local
watashi-client/.env.production.local

watashi-client/npm-debug.log*
watashi-client/yarn-debug.log*
watashi-client/yarn-error.log*

# WATASHI API 
watashi-api/node_modules
watashi-api/ormconfig.json

# misc
watashi-api/.DS_Store
watashi-api/.env

watashi-client/npm-debug.log*
watashi-client/yarn-debug.log*
watashi-client/yarn-error.log*

