.lessons {

  .lessons__options {

    .options__button {
    
    }
    
    .options__button__true {
      background: blue;
    }
  }

  .lessons__sentences {

    .basic__question {
  
      .basic__question--question {
    
      }
    
      .basic__question--answer {
    
      }
    }  
  }

  .options, .sentences {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid black;
  } 
}